# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual Environments
.venv/
venv/
ENV/
env/

# IDEs and Editors
.vscode/
.idea/

# Testing
.pytest_cache/